@model IEnumerable<Proyecto_Web2_Aguilar_Chino_Gonzales_Perez.Models.producto>

@{ ViewBag.Title = "Productos"; }

<div class="payment-due">
    <h1>Productos</h1>
    @Html.ActionLink("Nuevo Producto", "Create", null, new { @class = "btn btn-edit" })
</div>

<div class="wrapper">
    @foreach (var item in Model)
    {
        <div class="user-card">
            <div class="user-info">
                <span><strong>Nombre:</strong> @Html.DisplayFor(modelItem => item.nombre)</span>
                <span><strong>Precio:</strong> @Html.DisplayFor(modelItem => item.precio)</span>
                <span><strong>Stock:</strong> @Html.DisplayFor(modelItem => item.stock)</span>
                <span><strong>Categoría:</strong> @Html.DisplayFor(modelItem => item.categoria)</span>
            </div>
            <div class="actions">
                @Html.ActionLink("Detalles", "Details", new { id = item.id_producto }, new { @class = "btn btn-details" })
                @Html.ActionLink("Editar", "Edit", new { id = item.id_producto }, new { @class = "btn btn-edit" })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id_producto }, new { @class = "btn btn-delete" })
            </div>
        </div>
     }
</div>
